/* Add this CSS to your stylesheet */
.group-box {
  margin: 0.5rem;
  padding: 0.375rem;
  border-radius: 0.25rem;
  display: inline-block;
}

.group-box button {
  margin: 0 0.375rem;
}

.red-bg {
  background-color: #9a3269;
}

.blue-bg {
  background-color: #184FA1;
}

.orange-bg {
  background-color: #E26769;
}

.green-bg {
  background-color: #DADD98;
}

/* Add new CSS for smaller text and alignment */
.command-text {
  font-size: 12px;
  line-height: 1.2;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Add a gap to control the minimum space between items */
}

.skill-container > * {
  flex-grow: 1;
  max-width: calc(33.33% - 1rem); /* Ensure each item takes up a third of the container minus the gap */
}

.skill-buttons {
  display: block;
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.skill-buttons .servant-1,
.skill-buttons .servant-2,
.skill-buttons .servant-3,
.choice-skill-buttons .servant-1,
.choice-skill-buttons .servant-2,
.choice-skill-buttons .servant-3 {
  color: white;
  border-radius: 0.25rem;
  outline: 1px solid black;
  font-size: 0.75rem;
}

.skill-buttons .servant-1,
.choice-skill-buttons .servant-1 {
  background-color: #9a3269;
}

.skill-buttons .servant-2,
.choice-skill-buttons .servant-2 {
  background-color: #184FA1;
}

.skill-buttons .servant-3,
.choice-skill-buttons .servant-3 {
  background-color: #E26769;
}

.margin-left-grid {
  margin-left: 1rem !important;
}
